:root {
    --top-border-radius: 15px 15px 0 0;
    --bottom-width: 435px;
    --color-dark-gray: #b2b2b2;
    --color-black: #1c1c1c;
}

.laptop {
    box-sizing: border-box;
    position: absolute;
}

.laptop *,
.laptop .case::before,
.laptop .case::after {
    box-sizing: inherit;
}

.laptop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.top {
    width: 89%;
    height: 96%;
    background: #212733;
    border-radius: var(--top-border-radius);
    position: relative;
}

.case {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 15px solid var(--color-black);
    border-radius: var(--top-border-radius);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    font-size: smaller;
}

.top::before {
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    position: absolute;
    content: "";
    top: 4px;
    left: 49%;
    z-index: 40;
}

.finger-bezel {
    position: relative;
    width: 100%;
    height: 2%;
    min-height: 11px;
}

.finger-bezel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 44%;
    width: 70px;
    height: 5px;
    background: #969696;
    border-radius: 0 0 3px 3px;
    border-style: none;
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.3);
}

.bottom {
    width: 100%;
    height: 100%;
    background: var(--color-dark-gray);
    border-radius: 0 0 20px 20px;
    border-color: #8b8b8b;
    border-width: 1px;
    border-style: solid;
    box-shadow: inset 0 -1px 6px rgba(0, 0, 0, 0.3);
}
