.smartphone {
    border: 10px #fff solid;
    border-top-width: 20px;
    border-bottom-width: 25px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-color: #1C1C1C;
    width: 160px;
    height: 260px;
    position: relative;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    margin: 0;
    padding: 0;
    background-color: #222222;
}

.smartphone:before {
    content: '';
    display: block;
    width: 10px;
    height: 3px;
    margin: -12px auto;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #313742;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.smartphone:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #313742;
    border-color: silver;
    border-width: 1px;
    border-style: solid;
}

.smartphone-screen {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-self: flex-end;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1),
        0 0 25px rgba(255, 255, 255, 0.05);
    background-color: white;
}

.smartphone-screen-off {
    visibility: hidden;
    box-shadow: 0;
}

.smartphone-content {
    font-size: x-small;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

.smartphone-status-bar {
    width: 100%;
    height: 0.9rem;
    background-color: #313742;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    fill: white;
    stroke: white;
    font-size: 7px;
    font-family: Arial; 
    position: relative;
}

.smartphone-bezel {
    background-color: #1C1C1C;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.smartphone-status-bar-reception-bars {
    margin-left: 0.25rem;
    height: 100%;
    box-sizing: border-box;
    padding: 3px 0 3px 0;
}

.smartphone-status-bar-time {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    transform: translateY(25%);
}

.smartphone-status-bar-battery {
    margin-right: 0.25rem;
    height: 100%;
    box-sizing: border-box;
    padding: 1px 0 1px 0;
}